{% extends 'base.html.twig' %}

{% block title %}CarLocation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{asset("asset/CSS/loginStyle.css")}} type="text/css">
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="p-5 rounded mt-5 align-self-center divBack">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 p-10 font-weight-bold text text-white text-center">Login</h1>
                <br>
                <div class="text-left">
                    <div class="m-3">
                        <label for="inputName">Name : </label> <br>
                        <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control" autocomplete="username" required autofocus>
                    </div>
                    <div class="m-3">
                        <label for="inputPassword">Password : </label> <br>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div style="margin: 10px;text-align: center;">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                    <br>
                    <small class="small text-white font-weight-bold">not yet a member ? <a href="{{path('app_register')}}">Register here !</a></small>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
