{% extends 'base.html.twig' %}

{% block title %}CarLocation{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{asset("asset/CSS/loginStyle.css")}} type="text/css">
{% endblock %}
{% block body %}
<div class = "logForm">
    <div class="divBack">
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Log you here</h1>
    <div style="text-align: left;">
    <div style="margin: 10px;">
        <label for="inputName">Name : </label> <br>
        <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control" autocomplete="username" required autofocus>
    </div>
    <div style="margin: 10px;">
        <label for="inputPassword">Password : </label> <br>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
<div style="margin: 10px;text-align: center;">
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
        </div>
    </form>
 </div>
</div>
{% endblock %}
