{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="p-5 rounded mt-5 align-self-center divBack">
        {{ form_start(form) }}
            <h1 class="h3 p-10 font-weight-bold text text-white text-center">Profile</h1>
            <br/>
            <div>
                <div class="m-3">
                    <label for="{{ form.name.vars.id }}">Nom</label>
                    {{ form_row(form.name, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                </div>
                <div class="m-3">
                    <label for="{{ form.email.vars.id }}">Email</label>
                    {{ form_row(form.email, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                </div>
                <div class="m-3">
                    <label for="{{ form.password.vars.id }}">Mot de passe</label>
                    {{ form_row(form.password, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                </div>
                
                <div>
                    <small> Veuillez ne toucher qu'aux champs que vous souhaitez modifier.</small>
                </div>
                    
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <br/>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
