{% extends 'base.html.twig' %}

{% block title %}Use Welcome Page{% endblock %}

{% block body %}
    {{parent()}}
{% endblock %}

{% block content %}
    <div class="m-2">
        <h2>Hey {{name}}, <small style="font-size:10px">(all available car for rent)</small></h2>
        <hr>

        {% for car in page_cars %}
            <div class="card" style="width: 18rem;">
                <img src={{car.getImage() ~ car.getType().getName()}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{car.getName()}} <small>{{car.getPrice() ~ "EUR"}}</small></h5>
                    <div class="text-center">
                         <a href={{ path('app_car_detail', {id : car.getId()}) }} class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
        {% else %}
            <h4>No car available</h4>
        {% endfor %}

        <div class="fixed-bottom bg-dark text-center">
            {% if pages > 0  %}
                <a style="color:green;font-size:25px" href={{ path('app_home_action', {page : page, action : "previous"}) }}>
                    <small> << </small>
                </a>
                {% for i in 1..pages %}
                    {% if i == page %}
                        <a style="color:yellow;font-size:25px" href={{ path('app_home', {page : i}) }}>
                            <small> {{ i }} </small>
                        </a>
                    {% else %}
                        <a style="color:red" href={{ path('app_home', {page : i}) }}>
                            <small> {{ i }} </small>
                        </a>
                    {% endif %}
                {% endfor %}
                <a style="color:yellow;font-size:25px" href={{ path('app_home_action', {page : page, action : "next"}) }}>
                    <small> >> </small>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
